<p>hello this is sample project!</p>
<h1> this is from sample component</h1>
{{title}}

<div *ngIf="status">
    Hi iam Bhargav
</div> <br>
{{playersInfo | json | uppercase}}
<div *ngFor="let players of playersInfo">
    {{players.player}} <br>
    {{players.name | uppercase}} <br>
    {{players.age}} <br>
    {{players.gender | lowercase}} <br>
    {{players.runs}} <br>
</div>
<div>
    currency.....{{500000 | currency : 'USD'}}
</div>
<div>
    this is from fileSizeConvertion
    {{'1GB' | fileSizeConvertion}}
    {{'5GB' | fileSizeConvertion}}
</div>

